@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background-color:#F1f1f1;
    transition: background-color 0.5s !important;
}
body {
    background-color: transparent;
    
}

.background-animate {
    background-size: 500%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@keyframes AnimationName {
    0%,
    100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}
